{% load static %}

<html>
<head>
    <title>{% block title %}Selenium Tutorial{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/selenium-icon.png' %}" class="icon">
        <h1>Selenium Tutorial</h1>
    </div>

    <div class="topnav">
        <a href="{% url 'sel_tut_app:home' %}" class="split">Home</a>
        <a href="{% url 'sel_tut_app:selenium_basics' %}">Basics</a>
        <a href="{% url 'sel_tut_app:tutorial' %}">Tutorial</a>
        <a href="{% url 'sel_tut_app:playground' %}">Playground</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/topnav_selector.js' %}"></script>
    <script src="{% static 'prism/prism.js' %}"></script>
<footer>
    <div class="footer-content">
        <div class="author-info">
            <p>Contact: radek.kaczmarek84@gmail.com</p>
        </div>
        <div class="copyright">
            <p>&copy; 2023 Radosław Kaczmarek. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>

</html>
