{% extends 'sel_tut_app/playground_base.html' %}

{% load static %}

{% block title %}Buttons - Selenium Tutorial{% endblock %}

{% block heading %}Buttons{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
<div class="button-container">
    <H2>Clicking on any of the buttons below will navigate you back to the Playground.</H2>

    <div class="button-grid">
        <a class="buttons primary-button" href="/playground">Primary Button</a>
        <a class="buttons secondary-button" href="/playground">Secondary Button</a>
        <a class="buttons success-button" href="/playground">Success Button</a>
        <a class="buttons warning-button" href="/playground" id="random-button-1">Warning Button</a>
        <a class="buttons danger-button" href="/playground" id="random-button-2">Danger Button</a>
        <a class="buttons info-button" href="/playground">Info Button</a>
        <a class="buttons disabled-button" href="/playground">Disabled Button</a>
        <a class="buttons rounded-button" href="/playground" id="random-button-3">Rounded Button</a>
        <a class="buttons large-button" href="/playground">Large Button</a>
        <a class="buttons small-button" href="/playground">Small Button</a>
        <a class="buttons gradient-button" href="/playground">Gradient Button</a>
        <a class="buttons outline-button" href="/playground">Outline Button</a>
        <a class="buttons icon-button" href="/playground">
            <img class="icon" src="{% static 'images/button_1.png' %}" id="next_button"></a>
        <button class="buttons submit-button" type="submit" onclick="history.back()">Submit Button</button>
        <button class="buttons reset-button" type="reset" onclick="history.back()">Reset Button</button>
        <button class="buttons button-primary" disabled onclick="history.back()">Disabled Button</button>
    </div>
</div>

{% endblock %}