{% extends 'sel_tut_app/playground_base.html' %}

{% load static %}

{% block title %}Draggable - Selenium Tutorial{% endblock %}

{% block heading %}Draggable{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/draggable.css' %}">
<script src="{% static 'js/draggable.js' %}"></script>

<div id="drag-container">
    <div id="info">Drag the circle into the square</div>
    <div id="square" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div id="circle" draggable="true" ondragstart="drag(event)"></div>
    </div>
    <div id="doneMessage" style="display: none;">DONE!</div>
</div>

{% endblock %}
