{% extends 'sel_tut_app/base.html' %}

{% load static %}

{% block title %}Playground - Selenium Tutorial{% endblock %}

{% block heading %}Playground{% endblock %}

{% block content %}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin: 30px;
    }

    .grid-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #84C184;
        color: #fff;
        padding: 40px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .grid-button:hover {
        background-color: #72A672;
    }
</style>

<div class="grid-container">
   <a class="grid-button" href="{% url 'sel_tut_app:text_formats' %}">Text Formats</a>
   <a class="grid-button" href="{% url 'sel_tut_app:buttons' %}">Buttons</a>
   <a class="grid-button" href="{% url 'sel_tut_app:messages' %}">Messages</a>
   <a class="grid-button" href="{% url 'sel_tut_app:radio_checkbox' %}">Radio Buttons & Checkboxes</a>
   <a class="grid-button" href="{% url 'sel_tut_app:sliders' %}">Sliders</a>
   <a class="grid-button" href="{% url 'sel_tut_app:login' %}">Login</a>
   <a class="grid-button" href="{% url 'sel_tut_app:text_fields' %}">Text Fields</a>
   <a class="grid-button" href="{% url 'sel_tut_app:video_player' %}">Video Player</a>
   <a class="grid-button" href="{% url 'sel_tut_app:audio_player' %}">Audio Player</a>
   <a class="grid-button" href="{% url 'sel_tut_app:iframe' %}">Iframe</a>
   <a class="grid-button" href="{% url 'sel_tut_app:form_short' %}">Form (short)</a>
   <a class="grid-button" href="{% url 'sel_tut_app:form_long' %}">Form (long)</a>
   <a class="grid-button" href="{% url 'sel_tut_app:accordion' %}">Collapsible/Accordion</a>
   <a class="grid-button" href="{% url 'sel_tut_app:tabs' %}">Tabs</a>
   <a class="grid-button" href="{% url 'sel_tut_app:sidenav' %}">Side Navigation Menu</a>
   <a class="grid-button" href="{% url 'sel_tut_app:table' %}">Table</a>
   <a class="grid-button" href="{% url 'sel_tut_app:draggable' %}">Draggable</a>
</div>
{% endblock %}
