{% extends 'sel_tut_app/base.html' %}

{% block title %}Selenium basics - Selenium Tutorial{% endblock %}

{% block heading %}Selenium basics{% endblock %}

{% block content %}

<div id="sidebar">
    <h3>Table of Contents</h3>
    <ul>
        <li><a href="#about-selenium">   About Selenium</a></li>
        <li><a href="#webdriver">   WebDriver</a></li>
        <li><a href="#web-page-basics">   Webpage Basics</a></li>
        <li><a href="#selectors">   Locating page elements</a></li>
        <li><a href="#pop">   Page Object Pattern</a></li>
    </ul>
</div>
<div class="content">
    <div id="about-selenium">
        <hr><h2>About Selenium</h2><hr>
        <p>Selenium is a popular open-source web testing framework used by developers and testers to automate web
            browser interactions. It provides a suite of tools and libraries that enable the automation of web
            applications across different browsers and platforms. Selenium offers a robust and flexible platform for
            creating automated tests, performing web scraping, and conducting web-based tasks efficiently.</p><br>
        <h3><u>Key Features</u></h3>
        <h4>Cross-Browser Compatibility</h4>
        <p>Selenium supports various web browsers, including Chrome, Firefox, Safari, and Internet Explorer. This
            allows developers to test their web applications across multiple browsers, ensuring consistent
            functionality and user experience.</p>
        <h4>Programming Language Support</h4>
        <p>Selenium provides support for multiple programming languages such as Java, Python, C#, Ruby, and
            JavaScript. Developers can choose their preferred language to write test scripts, making it accessible
            to a wide range of developers.</p>
        <h4>Element Identification</h4>
        <p>Selenium offers various methods to locate elements on a web page, including ID, class name, XPath, CSS
            selectors, and more. This flexibility allows testers to interact with web elements accurately, perform
            actions like clicking buttons, filling forms, and verifying content.</p>
        <h4>Test Recording and Playback</h4>
        <p>Selenium IDE (Integrated Development Environment) allows users to record interactions with a web
            application and generate test scripts automatically. These scripts can be played back for regression
            testing, reducing manual effort and ensuring application stability.</p>
        <h4>Extensibility</h4>
            <p>Selenium's modular architecture enables the integration of additional libraries and frameworks to
                enhance its capabilities. It integrates well with testing frameworks like TestNG and JUnit, enabling
                advanced test management and reporting.</p>
        <h4>Parallel Test Execution</h4>
        <p>Selenium Grid enables the execution of tests in parallel across multiple browsers and platforms. This
            significantly reduces the overall test execution time and increases efficiency.</p>
        <h3><u>Benefits</u></h3>
        <h4>Automation</h4>
        <p>Selenium simplifies the process of automating repetitive tasks, allowing developers and testers to focus
            on more complex scenarios. Automated tests can be executed repeatedly, ensuring the stability and
            reliability of web applications.</p>
        <h4>Compatibility Testing</h4>
        <p>With Selenium, developers can verify that their web applications function correctly across different
            browsers and platforms. This helps identify and fix any compatibility issues before the application is
            deployed.</p>
        <h4>Faster Feedback</h4>
        <p>By automating tests, developers receive instant feedback on the quality of their code. This enables
            faster bug detection and resolution, leading to shorter development cycles and quicker releases.</p>
        <h4>Regression Testing</h4>
        <p>Selenium is widely used for regression testing to ensure that new updates or changes to an application do
            not introduce any unexpected issues. Test scripts can be re-executed to validate the functionality of
            the entire system.</p>
        <h3><u>Conclusion</u></h3>
        <p>Selenium has become an indispensable tool in the world of web application testing and automation.
            Its extensive features, cross-browser compatibility, and support for multiple programming languages make
            it a preferred choice for developers and testers. With Selenium, organizations can achieve faster
            testing cycles, improved application quality, and enhanced user experiences. Whether automating tests or
            scraping data, Selenium provides a powerful framework for efficient web interaction and testing.</p>
    </div>
    <div id="webdriver">
        <hr><h2>WebDriver</h2><hr>
        <p>WebDriver is a tool and interface that enables automated testing of web applications. It allows
            developers and testers to control web browsers programmatically and interact with web elements, enabling
            end-to-end testing of web applications.</p>
        <p>WebDriver provides a set of APIs (Application Programming Interfaces) that allow users to write code in
            various programming languages (such as Java, Python, C#, etc.) to simulate user interactions with a web
            browser. This includes tasks like opening a web page, clicking buttons, filling out forms, navigating
            between pages, and verifying the content of web elements.</p>
        <p>The main purpose of WebDriver is to support browser automation, making it a critical component of modern
            web testing frameworks. Testers can create automated test scripts using WebDriver to ensure that web
            applications function correctly and maintain their expected behavior during development and throughout
            their lifecycle.</p>
        <p>WebDriver is not limited to a specific browser but is designed to work across multiple browsers, such as
            Chrome, Firefox, Safari, Edge, and others. Different WebDriver implementations are available for each
            supported browser, allowing users to write cross-browser test scripts without significant
            modifications.</p>
        <p>By using WebDriver, developers and testers can streamline the testing process, reduce manual effort, and
            achieve more consistent and reliable results. It has become an essential tool in the field of automated
            testing for web applications.</p>
    </div>
    <div id="web-page-basics">
        <hr><h2>Webpage Basics</h2><hr>
        <p>A webpage is a document that is displayed on the World Wide Web. It is made up of HTML code, which is a
            markup language that tells the browser how to display the page. The structure of a web page is
            determined by the HTML code that is used to create it.</p><br>
        <h3><u>HTML Structure</u></h3>
        <p>HTML (Hypertext Markup Language) serves as the backbone of web pages, defining their structure and
            development. In this chapter, we will explore the main building blocks of HTML, including divs, and
            examine various elements commonly found on a web page.</p><br>
        <h3>Structure Elements:</h3>
            <h4>Document Type Declaration (DTD)</h4>
            <figure>
                <figcaption>The DTD is the first line of an HTML document and specifies the version of HTML being
                    used. For modern web pages, the HTML5 doctype is commonly used.</figcaption>
                    <pre><code class="language-html">
                        &lt;!DOCTYPE html&gt;
                    </code></pre>
            </figure>
            <h4>HTML Element</h4>
            <figure>
                <figcaption>The root element of the entire page that encloses all other elements. It is usually
                    the first element after the DTD declaration.</figcaption>
                    <pre><code class="language-html">
                        &lt;html lang="en"&gt;
                    </code></pre>
            </figure>
            <h4>Head</h4>
            <figure>
                <figcaption>The head element contains meta-information about the web page, such as the title,
                    character encoding, links to CSS stylesheets, and scripts. The content inside the head is not
                    visible on the page itself but provides important information to browsers and search engines.
                </figcaption>
                    <pre><code class="language-html">
                        &lt;head&gt;
                          &lt;meta charset="UTF-8"&gt;
                          &lt;title&gt;The example of HTML webpage code&lt;/title&gt;
                        &lt;/head&gt;
                    </code></pre>
            </figure>
            <h4>Body</h4>
            <figure>
                <figcaption>The body element contains the visible content of the web page, including text, images,
                    videos, and other elements.</figcaption>
                    <pre><code class="language-html">
                        &lt;body&gt;
                          &lt;header&gt;
                            &lt;h1&gt;Example HTML Page&lt;/h1&gt;
                          &lt;/header&gt;

                          &lt;nav&gt;
                            &lt;a href="#"&gt;Home&lt;/a&gt;
                            &lt;a href="#"&gt;About&lt;/a&gt;
                            &lt;a href="#"&gt;Contact&lt;/a&gt;
                          &lt;/nav&gt;

                          &lt;main&gt;
                            &lt;h2&gt;Content&lt;/h2&gt;
                            &lt;p&gt;
                            Lorem ipsum dolor sit amet.
                          &lt;/p&gt;
                          &lt;/main&gt;

                          &lt;footer&gt;
                            &copy;2023 ExamplePage.com. All rights reserved.
                          &lt;/footer&gt;
                        &lt;/body&gt;
                    </code></pre>
            </figure>
        <br>
        <h3><u>Div</u></h3>
        <p>Div, short for „division", is generic container used to group and structure content on a web page.
            Divs act as building blocks for layout and styling, allowing developers to apply CSS styles to groups of
            elements collectively. Divs have no inherent meaning and are often given class or ID attributes to
            target them with CSS or JavaScript</p>
            <figure>
                <figcaption>DIV example:</figcaption>
                    <pre><code class="language-html">
                        &lt;div id="myDiv"&gt;...&lt;/div&gt;
                    </code></pre></figure><br>
        <h3><u>CSS</u></h3>
        <p>CSS, which stands for Cascading Style Sheets, is a crucial component in web development. It is a style
            sheet language used to define the presentation and layout of HTML documents. CSS enables web developers
            to control the appearance of web pages, including fonts, colors, margins, padding, and positioning of
            elements.</p>
        <p>The primary purpose of CSS is to separate the content (HTML) from its presentation (styling). This
            separation allows developers to apply consistent styles across an entire website easily. Instead of
            repeating styling instructions for each element on every page, CSS allows developers to define styles
            once and apply them to multiple elements, resulting in more efficient and maintainable code.</p>
        <p>By implementing CSS in web development, designers can create visually appealing and user-friendly
            interfaces, ensuring a cohesive and professional look across different devices and browsers. CSS
            empowers developers to customize the appearance of web pages to match the branding and design
            requirements, providing an enhanced user experience for website visitors.</p>
        <p>In summary, CSS is an essential tool for web developers to control the presentation and layout of web
            pages, enabling them to create visually stunning, responsive, and well-organized websites that engage
            users and convey information effectively.</p><br>
        <h3><u>Common Elements on a Webpage</u></h3>
        <h4>Text Fields</h4>
        <p>Text fields are used to collect input from users, such as their names, email addresses, or messages. They
            come in various forms, such as text, password, email, and text area.</p>
        <h4>Popups/Modal Windows</h4>
        <p>Popups or modal windows are used to display additional information or actions on top of the main content.
            They are commonly used for login forms, notifications, or image galleries.</p>
        <h4>Buttons and Links</h4>
        <p>Buttons and links are interactive elements that allow users to navigate to different pages, submit forms,
            or trigger actions.</p>
        <h4>Images</h4>
        <p>Images are used to enhance the visual appeal of a web page and convey information graphically.</p>
        <h4>Lists</h4>
        <p>HTML supports ordered (numbered) and unordered (bulleted) lists to organize information in a structured
            manner.</p>
        <h4>Tables</h4>
        <p>Tables are used to present data in rows and columns, making it easier for users to comprehend
            information.</p>
        <h4>Forms</h4>
        <p>Forms enable users to submit data to a server for processing. They include input fields, checkboxes,
            radio buttons, and submit buttons.</p>
        <h4>Headers and Paragraphs:</h4>
        <p>Headers (h1-h6) are used to define the importance and hierarchy of text, while paragraphs (p) are used
            for regular blocks of text.</p><br>
    </div>
    <div id="selectors">
        <hr><h2>Locating elements on the Webpage</h2><hr>
            <p> One of the key features of Selenium is its ability to locate and interact with HTML elements on a web
                page using various selectors. In this paragraph, we will explore different types of Selenium selectors
                along with their definitions and practical examples using Python.</p>
            <p>Selenium provides the following method to locate elements in a page:
           <code class="language-python">find_element</code><br>
            To find multiple elements (return a list of elements):
           <code class="language-python">find_elements</code></p><br>
        <h3><u>Methods of locating elements on a web page:</u></h3>
        <h4>Locating by ID</h4>
            <p>The ID selector allows you to target an element with a specific unique identifier. The HTML element must
                have an id attribute, which should be unique within the entire document.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;div id=&quot;myDiv&quot;&gt;This is a div with an ID&lt;/div&gt;
                    </code></pre></figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.ID, &quot;myDiv&quot;)
                    </code></pre></figure><br>
        <h4>Locating by Class Name</h4>
            <p>The Class Name selector targets elements with a specific CSS class. Multiple elements can share the same
            class name.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;div class=&quot;myClass&quot;&gt;This is a div with a class&lt;/div&gt;
                    </code></pre></figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.CLASS_NAME, &quot;myClass&quot;)
                    </code></pre></figure><br>
        <h4>Locating by  Name</h4>
            <p>The Name selector allows you to find elements by their name attribute. This is commonly used for form
            fields.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;input type=&quot;text&quot; name=&quot;username&quot;&gt;
                    </code></pre></figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.NAME, &quot;username&quot;)
                    </code></pre></figure><br>
        <h4>Locating by Tag Name</h4>
            <p>The Tag Name selector targets elements based on their HTML tag name.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;div&gt;This is a div element&lt;/div&gt;
                    </code></pre></figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.TAG_NAME, "div")
                    </code></pre></figure><br>
        <h3>Locating by Link Text</h3>
            <p>The Link Text selector is used specifically for locating anchor (&lt;a&gt;) elements with the exact link
                text.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;a href="https://www.example.com"&gt;Click Here&lt;/a&gt;
                    </code></pre>
            </figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.LINK_TEXT, "Click Here")
                    </code></pre>
            </figure><br>
        <h4>Locating by Partial Link Text</h4>
        <p>The Partial Link Text selector is used to find anchor elements containing the specified partial link
            text.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;a href="https://www.example.com"&gt;Click Here to Visit Example&lt;/a&gt;
                    </code></pre>
            </figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-html">
                        element = driver.find_element(By.PARTIAL_LINK_TEXT, "Visit Example")
                    </code></pre>
            </figure><br>
        <h4>Locating by XPath</h4>
        <p>XPath is a powerful query language that allows you to navigate through XML and HTML documents. It is highly
            versatile and capable of targeting elements with complex criteria.</p><br>
            <figure>
                <figcaption>HTML  element:</figcaption>
                    <pre><code class="language-html">
                        &lt;div id="myDiv"&gt;This is a div with an ID&lt;/div&gt;
                    </code></pre>
            </figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.XPATH, "//div[@id='myDiv']")
                    </code></pre>
            </figure><br>
        <h4>Locating by CSS</h4>
        <p>The CSS Selector uses CSS syntax to target elements on the web page</p><br>
            <figure>
                    <figcaption>HTML  element:</figcaption>
                        <pre><code class="language-html">
                            &lt;div id="myDiv"&gt;This is a div with an ID&lt;/div&gt;
                        </code></pre>
            </figure><br>
            <figure>
                <figcaption>Selenium selector:</figcaption>
                    <pre><code class="language-python">
                        element = driver.find_element(By.CSS_SELECTOR, "#myDiv")
                    </code></pre>
            </figure><br>
    </div>
    <div id="pop">
        <hr><h2>Page Object Pattern</h2><hr>
        <p>Page Object Pattern is a design pattern that is used in automated testing of web applications. It is a way to
            organize your test code so that it is more readable, maintainable, and extendable. It promotes the
            separation of test code and page-specific code, resulting in a clear and modular test structure. In essence,
            it encapsulates the functionality and elements of a web page into a separate class, allowing testers to
            interact with the application's user interface through a higher-level, business-focused API.</p>
        <h3><u>Key Benefits</u></h3>
        <h4>Modularity</h4>
        <p>By encapsulating the interactions with each page in separate classes, the test code becomes more modular and
            organized. This modular approach makes it easier to manage and update tests as the application evolves.</p>
        <h4>Readability</h4>
        <p>Page Object classes abstract away the technical details of interacting with elements and actions on a web
            page. Test cases become more readable and business-focused, enhancing collaboration between testers,
            developers, and other stakeholders.</p>
        <h4>Reusability</h4>
        <p>Page Object classes can be reused across multiple test cases, reducing duplication of code. If a change
            occurs on a page, it only requires updating the relevant Page Object class, minimizing the impact on test
            scripts.</p>
        <h4>Easy Maintenance</h4>
        <p>When the structure or layout of a web page changes, you only need to update the corresponding Page Object
            class, rather than modifying each individual test case. This significantly reduces maintenance efforts.</p>
        <h3><u>Implementing the Page Object Pattern</u></h3>
        <p>Implementing the Page Object Pattern involves creating a separate class for each page in your application.
            This class should encapsulate the page's elements, actions, and interactions. Here's a general outline of
            how to create a Page Object:</p>
        <h4>Create a Page Object Class</h4>
        <p>Define a class for each page, with methods representing the actions a user can take on that page.</p>
        <h4>Encapsulate Elements</h4>
        <p>Within the Page Object class, define methods that locate and interact with the elements on the page. These
            methods should return instances of the elements, abstracting away the details of element location.</p>
        <h4>Business-Focused Method</h4>
        <p>Create methods that represent high-level actions a user can perform on the page. These methods should utilize
            the encapsulated element methods to perform actions like submitting forms, clicking buttons, etc.</p>
        <h3><u>Conclusion</u></h3>
        <p>The Page Object Pattern is a powerful technique that promotes better organization, maintainability, and
            readability of automated test scripts. By encapsulating page interactions and abstracting away technical
            details, testers can focus on writing business-focused tests that accurately reflect the application's
            behavior. Adopting the Page Object Pattern can lead to more efficient test maintenance, reduced code
            duplication, and improved collaboration between testing and development teams, ultimately contributing to
            higher software quality.</p><br><hr>
    </div>
</div>

{% endblock %}
