{% extends 'sel_tut_app/playground_base.html' %}

{% load static %}

{% block title %}Sidenav - Selenium Tutorial{% endblock %}

{% block heading %}Side Navigation Menu{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
<script src="{% static 'js/sidenav.js' %}"></script>

<div id="leftSidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/selenium-basics">Selenium Basics</a>
  <a href="/playground">Playground</a>
  <a href="/exercises">Exercises</a>
  <a href="/tutorial">Tutorial</a>
</div>

<div id="main">
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open</span>
</div>

{% endblock %}
