{% extends 'sel_tut_app/playground_base.html' %}

{% block title %}Text Formats - Selenium Tutorial{% endblock %}

{% block heading %}Text Formats{% endblock %}

{% block content %}
<div class="text-container">
    <hr><h1>Heading 1</h1>
    <hr><h2>Heading 2</h2>
    <hr><h3>Heading 3</h3>
    <hr><h4>Heading 4</h4>
    <hr><h5>Heading 5</h5>
    <hr><h6>Heading 6</h6>

    <hr><p>This is a paragraph of text.</p>

    <hr><p><strong>This is bold text.</strong></p>

    <hr><p><em>This is italicized text.</em></p>

    <hr><p><u>This is underlined text.</u></p>

    <hr><p><s>This is strikethrough text.</s></p>

    <hr><p><mark>This is highlighted text.</mark></p>

    <hr><p><sub>This is subscript text.</sub></p>

    <hr><p><sup>This is superscript text.</sup></p>

    <hr><p><code>This is inline code.</code></p>

    <hr><p><kbd>This is keyboard input.</kbd></p>

    <hr><p><samp>This is sample output.</samp></p>

    <hr><p><var>This is a variable.</var></p>

    <hr><p><abbr title="Hypertext Markup Language">HTML</abbr></p>

    <hr><p><a href="#">This is a link</a></p>

    <hr><p><del>This is deleted text.</del></p>

    <hr><p><ins>This is inserted text.</ins></p>

    <hr><p><small>This is small text.</small></p>

    <hr><p><blockquote>This is a blockquote.</blockquote></p>

    <hr><p><ul>
        <li>Unordered List Item 1</li>
        <li>Unordered List Item 2</li>
        <li>Unordered List Item 3</li>
    </ul></p>

    <hr><p><ol>
        <li>Ordered List Item 1</li>
        <li>Ordered List Item 2</li>
        <li>Ordered List Item 3</li>
    </ol></p>

    <hr><p><table>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
        </tr>
        <tr>
            <td>Row 1, Cell 1</td>
            <td>Row 1, Cell 2</td>
        </tr>
        <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
        </tr>
    </table></p>

    <hr><p><pre><code>def hello_world():
    print("Hello, World!")</code></pre></p>

    <hr><p><div style="width: 200px; height: 100px; background-color: yellow;">This is a div with a custom width, height, and background color.</div></p>
</div>

{% endblock %}