{% extends 'sel_tut_app/base.html' %}

{% block title %}About Selenium - Selenium Tutorial{% endblock %}

{% block heading %}Tutorial{% endblock %}

{% block content %}

<div style="display: flex;">
    <div id="sidebar">
        <h3>Table of Contents</h3>
        <ul>
            <li><a href="#lesson_1">   Lesson One: Topic</a></li>
            <li><a href="#lesson_2">   Lesson One: Topic</a></li>
            <li><a href="#lesson_3">   Lesson One: Topic</a></li>
            <li><a href="#lesson_4">   Lesson One: Topic</a></li>
            <li><a href="#lesson_5">   Lesson One: Topic</a></li>
            <li><a href="#lesson_6">   Lesson One: Topic</a></li>
            <li><a href="#lesson_7">   Lesson One: Topic</a></li>
            <li><a href="#lesson_8">   Lesson One: Topic</a></li>
            <li><a href="#lesson_9">   Lesson One: Topic</a></li>
            <li><a href="#lesson_10">   Lesson One: Topic</a></li>
            <li><a href="#lesson_11">   Lesson One: Topic</a></li>
            <li><a href="#lesson_12">   Lesson One: Topic</a></li>
            <li><a href="#lesson_13">   Lesson One: Topic</a></li>
            <li><a href="#lesson_14">   Lesson One: Topic</a></li>
            <li><a href="#lesson_15">   Lesson One: Topic</a></li>
            <li><a href="#lesson_16">   Lesson One: Topic</a></li>
        </ul>
    </div>
    <div id="content" class="container">
        <div id="lesson_1">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_2">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_3">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_4">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_5">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_6">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_7">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_8">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_9">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_10">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_11">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_12">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_13">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_14">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_15">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
        <div id="lesson_16">
            <h2>Topic</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis nunc et orci
                consectetur, et egestas libero tincidunt. Maecenas semper suscipit lectus vitae vestibulum.
                Curabitur in tortor vel nunc iaculis scelerisque. Donec lacinia, metus vel scelerisque luctus,
                tortor arcu bibendum dolor, id luctus velit ipsum quis purus. Proin facilisis tellus eu leo
                eleifend iaculis. Duis ut quam nunc. Praesent varius magna eu tortor porttitor, eget dignissim
                purus luctus. Integer facilisis lacus vitae libero facilisis, ut elementum mi dictum. Nullam
                ut consequat odio. Vivamus rhoncus risus vel quam ullamcorper cursus.</p>
            <hr>
        </div>
    </div>
</div>

{% endblock %}
