h1 {
  text-align: center;
}

.tab {
  display: none;
  border: 1px solid #f1f1f1;
}

.tab.active {
  display: block;
}

.tab-container {
  background-color: #f1f1f1
}

.tab-buttons button {
  width: 25%;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 14px 0;
  transition: 0.3s;
  margin-right: -5px;
}

.tab-buttons button:hover {
  background-color: #ddd;
}

.tab-buttons button.active {
  background-color: #ddd;
}
